<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
</style>
</head>

<body>
<form >

<h1 align="center">חוזק לחיצה יום נוסף</h1>
<table style="width:60%">
  <tr>   
    <th>מס הזמנה</th>
    <th>מס מדגם </th>
    <th>תאריך בדיקה</th>
    <th> אורך/רוחב </th>
    <th>גובה</th>
	<th> עומס</th>
	<th>חוזק</th>


  </tr>


</table>
</form>
<h1></h1>
         {% for row in beton %}
		  <form id="myFormpressmore" method="post"  action="/updatemore">
          <input type="hidden" value="{{row[0]}}" name="rowid" readonly >
          <input type="text" value="{{row[1]}}" size="14" name="ed_orderid" required>
		  <input type="text" value="{{row[2]}}" size="12" name="ed_msp_mdgm" readonly>
          <input type="text" value="{{row[3]}}" size="18" name="ed_date_hozek" required>
          <input type="text" value="{{row[4]}}" size="14" name="ed_oreh" required>
          <input type="text" value="{{row[5]}}" size="8" name="ed_gova" required>
          <input type="text" value="{{row[6]}}" size="6" name="ed_omes" required>
          <input type="text" value="{{row[7]}}" size="6" name="ed_hozek" required>
          
		  <input type="submit" value="Update">
		  </form>
         {% endfor %}
		 
</body>
</html>
